@model TNSalesSystem.Domain.Shop.ShopData
@{
    ViewBag.Title = "ShopDataNew";
    Layout = "~/Views/Shared/Main/_Layout.cshtml";
}
<link href="~/Content/css/Form.css" rel="stylesheet" />
<link href="~/Content/chosen/chosen.css" rel="stylesheet" />
<link href="~/Content/jsgrid/jsgrid-theme.css" rel="stylesheet" />
<link href="~/Content/jsgrid/jsgrid.css" rel="stylesheet" />
<script src="~/Content/chosen/chosen.jquery.js"></script>
<script src="~/Content/jsgrid/jsgrid.js"></script>
<script>
    $j(function () {
        $j("#txtSavedData").datepicker();
        $j("#txtShopName").attr("disabled", "disabld");
        $j(".chosen-select").chosen({ max_selected_options: 5 });
    });
    function GetShopNameAjax() {
        $j.ajax({
            url: '../Shop/GetShopNameAjax?city=' + $j("#txtCity").val(),
            error: function () {
                alert("An error occoured while geting shop name");
            },
            beforeSend: function () {
                $j("#img").show();
            },
            success: function (response) {
                $j("#txtShopName").val(response);
                $j("#hidShopName").val(response);
                $j("#img").hide();
            },

        });
    }
    function ValidateForm() {
        if (document.getElementById("txtShopName").value == "" || document.getElementById("txtShopName").value == null) {
            alert("Shop name cannot be blank");
            document.getElementById("txtCity").focus();
            return false;
        }
        else if (document.getElementById("txtAddress1").value == "" || document.getElementById("txtAddress1").value == null) {
            alert("Please enter the shop address1");
            document.getElementById("txtAddress1").focus();
            return false;
        }
        else if (document.getElementById("txtCity").value == "" || document.getElementById("txtCity").value == null) {
            alert("Please enter shop city");
            document.getElementById("txtCity").focus();
            return false;
        }
        else if (document.getElementById("ddlDistrict").value == "0" || document.getElementById("ddlDistrict").value == 0) {
            alert("Please enter shop district");
            document.getElementById("ddlDistrict").focus();
            return false;
        }
        else if (document.getElementById("ddlTaluk").value == "0" || document.getElementById("ddlTaluk").value == 0) {
            alert("Please enter shop taluk");
            document.getElementById("ddlTaluk").focus();
            return false;
        }
        else {
            document.getElementById("ShopDataNew").submit();
            return true;
        }

    }
    function CallReset() {
        window.location.reload();
    }
</script>

<form name="ShopDataNew" id="ShopDataNew" method="post" action="ShopDataNew">
    <fieldset class="fieldcls">
        <legend>Shop Details</legend>
        <table cellpadding="3px" cellspacing="3px" align="center" border="0" style="width: 100%;">
            <tr>
                <td class="cotrolnametd">Shop name
                </td>
                <td>
                    @Html.TextBoxFor(model => model.ShopName, new { @id = "txtShopName", @class = "normaltextbox" })
                    @Html.HiddenFor(Model => Model.ShopName, new { @id = "hidShopName" })
                    <span id="img" style="display: none;">
                        <img src="~/Content/images/small_load.gif" /></span>

                </td>
                <td class="cotrolnametd">Shop address 1
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Address1, new { @id = "txtAddress1", @class = "normaltextbox" })
                </td>
            </tr>
            <tr>
                <td class="cotrolnametd">Shop address 2
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Address2, new { @id = "txtAddress2", @class = "normaltextbox" })
                </td>
                <td class="cotrolnametd">Shop city
                </td>
                <td>
                    @Html.TextBoxFor(model => model.City, new { @id = "txtCity", @class = "normaltextbox", @onchange = "GetShopNameAjax();" })
                </td>
            </tr>
            <tr>
                <td class="cotrolnametd">Shop district
                </td>
                <td>
                    @Html.DropDownListFor(Model => Model.District, (SelectList)ViewBag.Districts, new { @id = "ddlDistrict", @class = "normalselectbox chosen-select", @style = "width: 180px;height: 28px;" })
                </td>
                <td class="cotrolnametd">Shop taluk
                </td>
                <td>
                    @Html.DropDownListFor(Model => Model.Taluk, (SelectList)ViewBag.Taluks, new { @id = "ddlTaluk", @class = "normalselectbox chosen-select", @style = "width: 180px;height: 28px;" })
                </td>

            </tr>
            <tr>
                <td class="cotrolnametd">Shop state
                </td>
                <td>
                    @Html.DropDownListFor(Model => Model.State, (SelectList)ViewBag.States, new { @id = "ddlState", @class = "normalselectbox chosen-select", @style = "width: 180px;height: 28px;" })
                </td>
                <td class="cotrolnametd">Shop country
                </td>
                <td>
                    @Html.DropDownListFor(Model => Model.Country, (SelectList)ViewBag.Coutries, new { @id = "ddlCoutry", @class = "normalselectbox chosen-select", @style = "width: 180px;height: 28px;" })
                </td>

            </tr>
            <tr>
                <td class="cotrolnametd">Shop postal code
                </td>
                <td>
                    @Html.TextBoxFor(model => model.PostalCode, new { @id = "txtPostalCode", @class = "normaltextbox" })
                </td>
                <td class="cotrolnametd">Saved date
                </td>
                <td>
                    @Html.TextBoxFor(model => model.SavedData, new { @id = "txtSavedData", @class = "normaltextbox" })
                </td>
            </tr>
            <tr>
                <td colspan="5" align="center">
                    <input type="button" value="Submit" class="myButton" onclick="ValidateForm()" />
                    <input type="button" value="Clear" class="myButton" onclick="CallReset()" />
                </td>
            </tr>
        </table>
    </fieldset>
</form>
